<h1>Stupid coaching</h1>

<div class="alert alert-light" role="alert">
<p><%= @ask %><br />
-You
</p>
</div>

<div class="alert alert-light" role="alert">
<p><%= @answer %><br />
-Your coach
</p>
</div>

<div class="link-success">
<%= link_to "Ask a new question", ask_path %>
</div>
